.btn-confirm {
    width: 100%;
    height: 60px;
    background: $red;
    color: $rose-100;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 30px;
    border: 0;
    margin-block: 25px;
}

.btn-new-Order {
    @extend .btn-confirm;
    width: 90%;
    height: 55px;
    font-weight: 500;
    margin: 0;
}