@import '../variables.scss';
@import '../mixins.scss';

.fundoEscuro {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 10;
    bottom: -90px;
    left: 0;
    background: #fff;
    padding-block: 40px;

    @include desktop {
        width: 700px;
        left: 50%;
        gap: 20px;
        transform: translate(-50%);
        bottom: 0;
        border-radius: 10px;
        padding-block: 40px;
    }


    .container-title {
        width: 90%;

        .check {
            font-size: 3em;
            color: $green;
        }

        h1 {
            font-size: 2.5em;
            color: $rose-900;
            padding: 0;
            margin: 10px 0px;
            max-width: 200px;
            line-height: 37px;

            @include desktop {
                max-width: 400px;
                margin-block: 10px;
            }
        }

        p {
            font-size: 17px;
            color: $rose-400;
            font-weight: 600;
        }
    }

    .card-order {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        width: 90%;
        height: auto;
        background: $rose-100;
        border-radius: 8px;
        padding-top: 20px;
        padding-bottom: 5PX;

        .container-cards {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            height: 202px;
            overflow: auto;
            scrollbar-width: none;
        }
        
        

        .container-orders {
            display: flex;
            width: 85%;
            height: 60px;
            padding-bottom: 10px;
            border-bottom: 1px solid $rose-300;

            .container-order {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .order-photo {
                    @include center;
                    width: 230px;
                    gap: 10px;

                    img {
                        height: 50px;
                        border-radius: 8px;
                    }

                    .infos-order {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 170px;
                        
                        .order-name {
                            display: block;
                            max-width: 164px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: $rose-900;
                            font-weight: 600;
                            font-size: 15px;
                        }
                        .price-x-qtde {
                            display: flex;
                            align-items: center;
                            gap: 20px;
    
                            .qtde-order {
                                color: $red;
                                font-weight: bold;
                                font-size: 15px;
                            }
    
                            .price-order {
                                color: $rose-400;
                                font-weight: 500;
                                font-size: 15px;
                            }
    
                        }
                    }
                }

                .order-pirce-total {
                    @include center;
                    height: 60px;
                    width: 50px;

                    span {
                        font-size: 18px;
                        color: $rose-900;
                        font-weight: 700;
                        margin-right: 8px
                    }
                }

            }
        }
    }

    .container-price-final {
        @include center;
        justify-content: space-between;
        width: 84%;
        height: 60px;

        .txt-order {

            color: $rose-900;
            font-weight: 500;
            margin-left: 7px;
        }

        .price-total-orders {
            font-size: 23px;
            color: $rose-900;
            font-weight: 700;
            margin-right: 8px;
        }
    }
}